{
    "extends": "airbnb-base",
    "rules": {
        "func-names": ["error", "never"],
        "indent": ["error", 4],
        "linebreak-style": ["error", "unix"],
        "quotes": ["error", "double"],
        "semi": ["error", "always"],
        "comma-dangle": ["error", "never"],
        "no-cond-assign": ["error", "always"],
        "no-console": "off",
        "allowTemplateLiterals": true,
        "avoidEscape": true
    },
    "env": {
        "browser": true,
        "node": true
    }
}
